<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to building a blog using node.js</title>
    <link rel="stylesheet" href='/css/blogd.css'>
</head>

<body>
    <h1>Welcome let build a blog</h1>
</body>

</html>